<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hai.dao.VersionMapper">
    <resultMap id="BaseResultMap" type="com.hai.entity.Version">
        <constructor>
            <idArg column="ID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="APP_KEY" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="VERSION_CODE" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    ID, APP_KEY, VERSION_CODE, CREATE_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_version
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByVersionCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_version
        WHERE VERSION_CODE=#{versionCode}
    </select>
    <select id="selectVersions" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_version
    </select>
    <select id="selectByAppKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_version
        WHERE APP_KEY=#{appKey}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_version
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hai.entity.Version">
    insert into t_version (ID, APP_KEY, VERSION_CODE, 
      CREATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{appKey,jdbcType=VARCHAR}, #{versionCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.hai.entity.Version">
        insert into t_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="appKey != null">
                APP_KEY,
            </if>
            <if test="versionCode != null">
                VERSION_CODE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="appKey != null">
                #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="versionCode != null">
                #{versionCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hai.entity.Version">
        update t_version
        <set>
            <if test="appKey != null">
                APP_KEY = #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="versionCode != null">
                VERSION_CODE = #{versionCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hai.entity.Version">
    update t_version
    set APP_KEY = #{appKey,jdbcType=VARCHAR},
      VERSION_CODE = #{versionCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>